.wrapper {
  /* text-align: center; */
}

.experienceWrapper {
  display: flex;
  flex-direction: column;
  color: rgba(179, 194, 203);
  margin-top: -36px;
  margin-bottom: 64px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (max-width: 730px) {
    flex-direction: column;
    gap: 24px;
  }
}

.techTitle {
  font-size: 32px;
  font-weight: 300;
  padding-left: 32px;
  color: rgba(209, 218, 224);

  @media (max-width: 730px) {
    font-size: 26px;
    font-weight: 300;
    padding: 0;
  }
}

.rightSideWrapper {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 16px;
  padding-right: 32px;

  @media (max-width: 730px) {
    align-items: center;
    padding-right: 0;
  }
}

.companyDateWrapper {
  display: flex;
  gap: 8px;
}

.companyTitle {
  font-size: 28px;
  font-weight: 300;
  color: rgba(209, 218, 224);

  @media (max-width: 730px) {
    font-size: 24px;
  }
}

.roleText {
  font-size: 18px;
  font-weight: 300;
}
