.avatar {
  position: relative;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: #d5d7df;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px 48px 32px;
}

@keyframes fadeInBottomToTopHeroAvatar {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.avatarWrapper {
  position: relative;
  margin-bottom: 64px;
  animation: fadeInBottomToTopHeroAvatar 1s linear;
}

.avatarTag {
  position: absolute;
  bottom: -26px;
  left: -20px;
  height: 38px;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 10px 14px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
}

@keyframes greenFlash {
  0% {
    background-color: white;
  }

  100% {
    background-color: rgb(24, 218, 24);
  }
}

.greenFlashingCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: greenFlash 1.5s infinite;
  transform: translateY(1px);
}

.openForWork {
  font-size: 12px;
  font-weight: 400;
}

@keyframes fadeInBottomToTopHeroText {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroText {
  display: inline-block;
  max-width: 80%;
  font-size: 46px;
  font-weight: 600;
  background-image: radial-gradient(
    61% 200% at 39.7% 21.9%,
    rgb(255, 255, 255) 0%,
    rgb(82, 82, 82) 100%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 32px;

  animation: fadeInBottomToTopHeroText 1s linear;
}

@keyframes fadeInBottomToTopHeroDescription {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroDescription {
  max-width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: rgb(179, 194, 203);
  line-height: 1.5;
  margin-bottom: 48px;

  animation: fadeInBottomToTopHeroDescription 1s linear;
}

@keyframes fadeInBottomToTopHeroButtons {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroButtons {
  display: flex;
  gap: 32px;
  animation: fadeInBottomToTopHeroButtons 1s linear;

  & > button {
    font-size: 18px;
  }
}

.primaryButton {
  height: 52px;
  border-radius: 30px;
  background-color: black;
  color: white;
  padding: 10px 24px;
}

.secondaryButton {
  height: 52px;
  padding: 10px 24px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
