.avatar {
  position: relative;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: #d5d7df;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0px 32px 48px 0px; */
  padding-top: 64px;
}

@keyframes fadeInBottomToTopHeroAvatar {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.avatarWrapper {
  position: relative;
  margin-bottom: 64px;
  animation: fadeInBottomToTopHeroAvatar 1s linear;
}

.avatarTag {
  position: absolute;
  bottom: -26px;
  left: -20px;
  height: 38px;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 10px 14px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
}

@keyframes greenFlash {
  0% {
    background-color: white;
  }

  100% {
    background-color: rgb(24, 218, 24);
  }
}

.greenFlashingCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: greenFlash 1.5s infinite;
  transform: translateY(1px);
}

.openForWork {
  font-size: 12px;
  font-weight: 400;
}

@keyframes fadeInBottomToTopHeroText {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroText {
  display: inline-block;
  max-width: 80%;
  font-size: 46px;
  font-weight: 600;
  background-image: radial-gradient(
    61% 200% at 39.7% 21.9%,
    rgb(255, 255, 255) 0%,
    rgb(82, 82, 82) 100%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 32px;

  animation: fadeInBottomToTopHeroText 1s linear;

  @media (max-width: 730px) {
    max-width: 90%;
    font-size: 24px;
  }
}

@keyframes fadeInBottomToTopHeroDescription {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroDescription {
  max-width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: rgb(179, 194, 203);
  line-height: 1.5;
  margin-bottom: 48px;

  animation: fadeInBottomToTopHeroDescription 1s linear;

  @media (max-width: 730px) {
    max-width: 70%;
    font-size: 16px;
  }
}

@keyframes fadeInBottomToTopHeroButtons {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroButtons {
  display: flex;
  gap: 32px;
  animation: fadeInBottomToTopHeroButtons 1s linear;
  padding: 8px 0;

  & > button {
    font-size: 16px;
  }

  @media (max-width: 730px) {
    gap: 16px;

    & > button {
      font-size: 14px;
    }
  }
}

@keyframes myRotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(210deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contactWrapper {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  border-radius: 74px;
  transition: all 200ms ease;

  & > button {
    font-size: 16px;
  }

  @media (max-width: 730px) {
    & > button {
      font-size: 14px;
    }
  }
}

.primaryButton {
  position: relative;
  display: block;
  width: 180px;
  height: 52px;
  border: none;
  border-radius: 74px;
  background-color: black;
  color: white;
  padding: 10px 24px;
  margin: 3px;
  transition: all 200ms ease;
  cursor: pointer;

  @media (max-width: 730px) {
    width: 140px;
  }
}

.snake {
  filter: blur(15px);
  position: absolute;
  inset: 50% -70% -70% 50%;
  background: linear-gradient(
    to left,
    transparent,
    #0d00ff,
    #7be79d,
    transparent 100%
  );
  transition: all 300ms ease;
  background-repeat: no-repeat;
  transform-origin: 0 0;
  animation: myRotate 2s infinite linear;
}

.secondaryButton {
  width: 180px;
  height: 52px;
  padding: 10px 24px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;

  @media (max-width: 730px) {
    width: 140px;
  }
}
