@keyframes myRotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(210deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contactWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 74px;
  transition: all 200ms ease;

  & > button {
    font-size: 16px;
  }
}

.primaryButton {
  position: relative;
  display: block;
  text-align: center;
  width: 180px;
  height: 52px;
  border: none;
  border-radius: 74px;
  background-color: black;
  color: white;
  padding: 10px 24px;
  margin: 3px;
  transition: all 200ms ease;
  cursor: pointer;

  @media (max-width: 730px) {
    width: 150px;
    font-size: 14px;
  }
}

.snake {
  filter: blur(15px);
  position: absolute;
  inset: 50% -70% -70% 50%;
  background: linear-gradient(
    to left,
    transparent,
    #0d00ff,
    #7be79d,
    transparent 100%
  );
  transition: all 300ms ease;
  background-repeat: no-repeat;
  transform-origin: 0 0;
  animation: myRotate 2s infinite linear;
}
