.navigation {
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 32px;
  margin-bottom: 16px;
}

.navigationList {
  display: flex;
  gap: 40px;
}

.navigationItem {
  list-style: none;
}

.logo {
  border: 2px solid white;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  font-size: 18px;
}
